.card {
  justify-content: start;
  width: 30%;
  margin-left: 33%;
}
.container {
  width: 30%; /* set a width for the container */
  margin: 0 auto; /* center the container horizontally */
  align-items: center;
}
